<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.mapper.DepartmentMapper">
    <insert id="insertDepartment" useGeneratedKeys="true" keyProperty="id">
        insert into department(department_name, create_time, update_time, create_user, update_user)
        values (#{departmentName},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>

    <update id="updateDepartment" parameterType="Department">
        update department
        <set>
            <if test = "departmentName != null"> department_name = #{departmentName},</if>
            <if test = "updateTime != null"> update_time = #{updateTime},</if>
            <if test = "updateUser != null"> update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

    <select id="departmentPageQuery" resultType="com.erp.entity.Department">
    select * from department
    <where>
        <if test = "departmentName != null and departmentName != ''">
            and department_name like concat ('%',#{departmentName},'%')
        </if>
    </where>
    order by create_time desc
    </select>

</mapper>